{
  "openapi": "3.0.3",
  "x-api-versioning": {
    "strategy": "url-path",
    "current": "/v1",
    "stable-since": "2026-09-01",
    "deprecation-policy": "Breaking changes ship under a new /vN path. Deprecated endpoints return a Deprecation header the day of decision and an RFC 8594 Sunset header at least 90 days before removal. Additive changes may occur within a version without notice.",
    "policy-url": "https://documesh.selatan.org/deprecation.md",
    "note": "Unversioned paths (e.g. /search) are live aliases of /v1 and will remain supported through at least 2027-09-01."
  },
  "info": {
    "title": "Documesh API",
    "description": "Federated developer documentation search across 47 sources (documentation origins). Every result carries source, version, license, and canonical source URL.",
    "version": "1.0.0",
    "contact": { "name": "selatan.org", "url": "https://selatan.org", "email": "rhps@selatan.org" },
    "license": { "name": "MIT", "url": "https://github.com/rhps/documesh.dev/blob/main/LICENSE" }
  },
  "servers": [
    { "url": "https://documesh.selatan.org", "description": "Production" }
  ],
  "tags": [
    { "name": "search", "description": "Documentation search operations" },
    { "name": "errors", "description": "Error-to-documentation matching" },
    { "name": "registry", "description": "Vendor and license registry" },
    { "name": "system", "description": "System operations" }
  ],
  "x-versioned-servers": [
    { "url": "https://documesh.selatan.org/v1", "description": "Production v1 (preferred)" },
    { "url": "https://documesh.selatan.org", "description": "Production (unversioned alias of v1)" }
  ],
  "paths": {
    "/v1/search": { "$ref": "#/paths/~1search" },
    "/v1/explain": { "$ref": "#/paths/~1explain" },
    "/v1/vendors": { "$ref": "#/paths/~1vendors" },
    "/v1/stats": { "$ref": "#/paths/~1stats" },
    "/v1/health": { "$ref": "#/paths/~1health" },
    "/stats": {
      "get": {
        "operationId": "getStats",
        "tags": ["registry"],
        "summary": "Per-source coverage statistics",
        "description": "Live chunk counts per documentation source plus coverage vs. each source's own published catalog (llms.txt / docs index). coverage = ingested pages / catalog pages; null when the source has no measurable published catalog.",
        "responses": {
          "200": {
            "description": "Coverage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["total_chunks", "sources"],
                  "properties": {
                    "total_chunks": { "type": "integer" },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "chunks"],
                        "properties": {
                          "id": { "type": "string" },
                          "chunks": { "type": "integer", "description": "Ingested doc sections in the mesh" },
                          "catalog_pages": { "type": "integer", "nullable": true, "description": "Pages in the source's own published catalog" },
                          "coverage": { "type": "number", "nullable": true, "description": "ingested/catalog as a percentage; null = not measured" }
                        }
                      }
                    },
                    "note": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "tags": ["system"],
        "summary": "Service health check",
        "description": "Returns service status, vendor count, and API version.",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchDocsAcross",
        "tags": ["search"],
        "summary": "Federated documentation search",
        "description": "Search developer documentation across 47 documentation sources. Every result carries a 'source' field (legacy name 'vendor'), version, license, and canonical source URL.",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 }, "description": "Search query" },
          { "name": "vendors", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated vendor filter (e.g. cloudflare,kubernetes)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 5, "minimum": 1, "maximum": 20 }, "description": "Max results" }
        ],
        "responses": {
          "200": {
            "description": "Ranked search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          },
          "400": {
            "description": "Missing query parameter",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/explain": {
      "get": {
        "operationId": "explainError",
        "tags": ["errors"],
        "summary": "Error-to-documentation matching",
        "description": "Given a log excerpt, find the closest matching documentation sections. Returns top-3 diversified results with an honest disclaimer.",
        "parameters": [
          { "name": "error", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 }, "description": "Error message or log excerpt" },
          { "name": "vendor", "in": "query", "schema": { "type": "string" }, "description": "Optional vendor filter" }
        ],
        "responses": {
          "200": {
            "description": "Matched documentation sections",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExplainResponse" }
              }
            }
          },
          "400": {
            "description": "Missing error parameter",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/vendors": {
      "get": {
        "operationId": "listVendors",
        "tags": ["registry"],
        "summary": "Vendor registry",
        "description": "List all documentation sources in the mesh with license and attribution requirements.",
        "responses": {
          "200": {
            "description": "Vendor registry",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VendorsResponse" }
              }
            }
          }
        }
      }
    },
    "/ask": {
      "post": {
        "operationId": "askQuestion",
        "tags": ["system"],
        "summary": "NLWeb natural-language query (supports async + idempotent retries)",
        "description": "Accepts a natural-language query. Long-running executions return 202 with a job reference to poll; supply Idempotency-Key to make retries safe.",
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Unique key per logical operation. Retrying with the same key returns the original result instead of duplicating work." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": { "type": "string", "description": "Natural-language question" },
                  "prefer": {
                    "type": "object",
                    "properties": { "streaming": { "type": "boolean", "default": false } }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query answered synchronously",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NLWebResponse" } } }
          },
          "202": {
            "description": "Accepted — poll the job for the result (async-job pattern)",
            "headers": {
              "Location": { "schema": { "type": "string" }, "description": "Poll URL: /jobs/{job_id}" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["job_id", "status"],
                  "properties": {
                    "job_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending", "running"] },
                    "poll": { "type": "string", "description": "Relative poll URL" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "operationId": "getJobStatus",
        "tags": ["system"],
        "summary": "Poll an async job",
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Job status; completed jobs embed the result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["job_id", "status"],
                  "properties": {
                    "job_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending", "running", "completed", "failed"] },
                    "result": { "$ref": "#/components/schemas/NLWebResponse" },
                    "error": { "$ref": "#/components/schemas/ErrorResponse" }
                  }
                }
              }
            }
          },
          "404": { "description": "Unknown job", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batchSearch",
        "tags": ["search"],
        "summary": "Batch multiple searches in one request",
        "description": "Accepts an array of search operations and returns results per operation. Requires Idempotency-Key so agent retries never duplicate a batch.",
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Unique key per logical batch. Same key → same response, no duplication." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["operations"],
                "properties": {
                  "operations": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "required": ["q"],
                      "properties": {
                        "op_id": { "type": "string", "description": "Caller-chosen id echoed back for correlation" },
                        "q": { "type": "string" },
                        "vendors": { "type": "string" },
                        "limit": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-operation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["results"],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["op_id", "status"],
                        "properties": {
                          "op_id": { "type": "string" },
                          "status": { "type": "string", "enum": ["ok", "error"] },
                          "query": { "type": "string" },
                          "results": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } },
                          "error": { "$ref": "#/components/schemas/ErrorResponse" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing Idempotency-Key or malformed body", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "tags": ["system"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "type": "object",
        "required": ["vendor", "version", "title", "source_url", "license", "last_updated", "score"],
        "properties": {
          "chunk_id": { "type": "string", "description": "Unique chunk identifier" },
          "vendor": { "type": "string", "description": "Vendor ID (e.g. cloudflare, netlify). Deprecated name — prefer 'source' (same value)." },
          "source": { "type": "string", "description": "Documentation source ID (e.g. cloudflare, netlify). Canonical name for the legacy 'vendor' field." },
          "version": { "type": "string", "description": "Docs version (e.g. latest, 1.32)" },
          "title": { "type": "string", "description": "Section title" },
          "heading_path": { "type": "string", "description": "Breadcrumb path (e.g. 'Build > Environment variables')" },
          "path": { "type": "string", "description": "Relative content path" },
          "source_url": { "type": "string", "format": "uri", "description": "Canonical vendor page URL" },
          "license": { "type": "string", "description": "License of the source documentation" },
          "attribution": { "type": "string", "description": "Attribution text for this source" },
          "last_updated": { "type": "string", "format": "date", "description": "Last updated date" },
          "score": { "type": "number", "description": "Relevance score" },
          "snippet": { "type": "string", "description": "Short quotable plaintext excerpt (~280 chars) from the section" },
          "matched_terms": { "type": "array", "items": { "type": "string" }, "description": "Query terms matched by this result" },
          "coverage": { "type": "number", "description": "Fraction (0-1) of the query's rare-token mass this result covers" },
          "confidence": { "type": "string", "enum": ["high", "medium", "low"], "description": "Relevance confidence derived from coverage" }
        }
      },
      "SearchResponse": {
        "type": "object",
        "required": ["query", "results", "took_ms"],
        "properties": {
          "query": { "type": "string" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } },
          "took_ms": { "type": "integer" },
          "snapshot_date": { "type": "string", "format": "date" },
          "pagination": {
            "type": "object",
            "description": "Cursor-based pagination. Pass cursor as the ?cursor= query param on the next request.",
            "required": ["next_cursor", "has_more"],
            "properties": {
              "next_cursor": { "type": "string", "nullable": true, "description": "Opaque cursor; null when no more results" },
              "has_more": { "type": "boolean" }
            }
          },
          "matched_terms": { "type": "array", "items": { "type": "string" } },
          "unmatched_terms": { "type": "array", "items": { "type": "string" }, "description": "Query terms with zero postings in the mesh — candidates for query refinement" },
          "coverage": { "type": "number", "description": "Fraction (0-1) of query terms found in the mesh" },
          "confidence": { "type": "string", "enum": ["high", "medium", "low", "none"] },
          "answerable": { "type": "boolean", "description": "True when coverage >= 0.6 — the mesh likely contains sections answering the query" },
          "suggestions": { "type": "array", "items": { "type": "string" }, "description": "Vocabulary-neighbor terms for unmatched query terms (e.g. postgres -> postgresql). Use to refine" }
        }
      },
      "NLWebResponse": {
        "type": "object",
        "required": ["_meta", "query", "results"],
        "properties": {
          "_meta": {
            "type": "object",
            "required": ["response_type", "version"],
            "properties": {
              "response_type": { "type": "string" },
              "version": { "type": "string" }
            }
          },
          "query": { "type": "string" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } }
        }
      },
      "ExplainResponse": {
        "type": "object",
        "required": ["extracted_signatures", "matches", "disclaimer"],
        "properties": {
          "extracted_signatures": { "type": "array", "items": { "type": "string" } },
          "matches": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } },
          "disclaimer": { "type": "string", "description": "Always present — honest abstention notice" }
        }
      },
      "VendorsResponse": {
        "type": "object",
        "required": ["vendors", "total"],
        "properties": {
          "vendors": { "type": "array", "items": { "$ref": "#/components/schemas/Vendor" }, "description": "Deprecated name — prefer 'sources' (same list)." },
          "sources": { "type": "array", "items": { "$ref": "#/components/schemas/Vendor" }, "description": "Documentation sources in the mesh." },
          "total": { "type": "integer" }
        }
      },
      "Vendor": {
        "type": "object",
        "required": ["id", "name", "license"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "license": { "type": "string" },
          "license_url": { "type": "string", "format": "uri" },
          "docs_origin": { "type": "string" },
          "attribution_required": { "type": "boolean" }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["ok", "service", "vendors", "version"],
        "properties": {
          "ok": { "type": "boolean" },
          "service": { "type": "string" },
          "vendors": { "type": "integer" },
          "version": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message", "status"],
            "properties": {
              "code": { "type": "string", "description": "Machine-readable error code (e.g. MISSING_QUERY)" },
              "message": { "type": "string", "description": "Human-readable error message" },
              "status": { "type": "integer", "description": "HTTP status code" },
              "timestamp": { "type": "string", "format": "date-time" },
              "version": { "type": "string", "description": "API version" }
            }
          }
        }
      }
    }
  }
}
